@import url('all.css');
@import url('fonte-face.css');


/*Estilização do header*/
header {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Coolvetica-Regular', Arial;
  position: fixed;
}

header .logo-container {
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-container img {
  width: 60%;
  transition: 0.3s;
}

header .logo-container img:hover {
  filter: drop-shadow(0px 0px 5px #8c4e9969);
}

header .logo-container img::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: #8c4e99;
  transition: width 0.3s;
}

header .logo-container img:hover::after {
  width: 100%;
}

header nav,
header nav ul {
  width: 60%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  position: relative;
  transition: 0.3a;
}

header nav ul li:hover {
  color: #8c4e99;
  cursor: pointer;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: #8c4e99;
  transition: width 0.3s;
}

header nav ul li:hover::after {
  width: 100%;
}

header .button-container {
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .button-container a {
  width: 150px;
  height: 50px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background: #8c4e99;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

header .button-container a:hover {
  width: 147px;
  height: 47px;
  background: #fff;
  color: #8c4e99;
  border: 3px solid #8c4e99;
}

/*Estilização do banner*/

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  width: 60%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10rem 5rem;
}

.banner-text h1 {
  width: 30rem;
  font-family: 'Coolvetica-Regular' !important;
  font-size: 3rem;
  font-weight: bolder;
  white-space: pre-line;
  line-break: break-word;
  line-height: 1.2;
  color: #50356c;
}

.banner-text p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.2;
  font-family: 'Coonforta-Light';
}

.banner-text a {
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #50356c;
  color: #fff;
  margin: 2rem 0;
  font-family: 'Coonforta-Regular';
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 40%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  width: 50%;
}